.title {
    text-align: center;
    color: #212EA0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
}

.title h2 {
    font-size: 32px;
    color: #000F38;
    margin-top: 5px;
    text-transform: none;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
    .title {
        font-size: 14px;
        margin: 50px 0 20px;
    }

    .title h2 {
        font-size: 28px;
    }
}

/* Media Query for Phones */
@media (max-width: 480px) {
    .title {
        font-size: 13px;
        margin: 40px 0 10px;
    }

    .title h2 {
        font-size: 24px;
    }
}