nav {
    width: 100%;
    /* background: #333; */
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

}

.navbar__logo {
    width: 180px;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.btn {
    background: #fff;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.dark-nav {
    background: #212EA0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}


/* Responsive styles */
@media only screen and (max-width: 768px) {
    nav {
        padding: 10px 0;
    }

    .navbar__logo {
        width: 150px;
        /* Adjust size as needed */
    }

    nav ul li {
        margin: 5px 10px;
        /* Adjust spacing as needed */
        font-size: 14px;
        /* Adjust font size as needed */
    }
}

@media only screen and (max-width: 576px) {
    nav ul li {
        margin: 5px 5px;
        /* Adjust spacing as needed */
        font-size: 12px;
        /* Adjust font size as needed */
    }
}
