.footer {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 15px 0;
    margin: 0px 20px 0px 20px;
}

.footer ul {
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
}

.footer ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        /* Stack items vertically */
        align-items: flex-start;
        /* Align items to the start */
    }

    .footer ul li {
        margin-left: 0;
        /* Remove left margin */
        margin-bottom: 10px;
        /* Add bottom margin for spacing */
    }
}